.article-form {
  margin: 0 3px;
  .search-input {
    margin-top: 5px;
    width: 100%;
  }

  .selected-form {
    margin-top: 7px;
    display: flex;

    .selected-item {
      flex: 1 1 0;
    }
  }

  .type-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > * {
      margin: 3px;
    }
  }
}
