$scroll: 7px;
* {
  .my-dark {

    ::-webkit-scrollbar-thumb {
      background-color: #ffffff40;
    }

    scrollbar-color: #ffffff40 transparent;
  }

  .my-light {
    ::-webkit-scrollbar-thumb {
      background-color: #00000040;
    }

    scrollbar-color: #00000040 transparent;
  }

  ::-webkit-scrollbar {
    width: $scroll;
    height: $scroll;
  }

  scrollbar-width: $scroll;

  ::-webkit-scrollbar-thumb {
    border-radius: $scroll/2;
  }
}

.button-width {
  width: calc(100% - 10px);
  margin-left: 5px !important;
}
