html, body, #app, .el-container, .router {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url("https://www.sushao.top/api/blog/home/img/-1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}
